<script type="text/template" id="search-view">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="keyword..." id="keywordInpt">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="baiduSearchBtn">百度</button>
                &nbsp;
            <button class="btn btn-primary" type="button" id="googleSearchBtn">Google</button>

          </span>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="search-modal-view">

<div class="container-fluid full_modal">
    <div class="row">
        <div class="col-md-6">
            <iframe id="baiduIframe" style="width: 100%;height: 500px;"></iframe>

        </div>
        <div class="col-md-6">
            <iframe id="googleIframe" style="width: 100%;height: 500px;"></iframe>
        </div>
    </div>
    <div class="middle-float">
        <a href="javascript:void(0);"></a><span class="glyphicon glyphicon-remove full_modal_close"></span>
    </div>

</div>
</script>
<script type="text/template" id="search-result-view">
    <ul class="dropdown-menu search-result-list" >
##    <li role="separator" class="divider"></li>
##    <li><a href="#">Separated link</a></li>
    </ul>
    </div>
</script>
#[[
<script type="text/javascript">

    define('modules/SearchModule',['backbone'], function(Backbone){
        var IframeView = Backbone.View.extend({
            template: _.template($("#search-modal-view").html()),
            isShow:false,
            events:{
                'click .full_modal_close':"closeContainer"
            },
            windowHeight:500,
            initialize:function(){
                this.windowHeight=$(window).height();
            },
            render:function(){
                this.$el.append(this.template());
                this.isShow=true;
                var closeLeft=$("#googleIframe").offset().left - 18;
                $(".middle-float").css("left",closeLeft+"px");
                $("#googleIframe").css("height",this.windowHeight);
                $("#baiduIframe").css("height",this.windowHeight);
            },
            show:function(param){
                if(!this.isShow){
                    this.render();
                }
                if(param.baiduUrl){
                    $("#baiduIframe").attr("src",param.baiduUrl);
                }
                if(param.googleUrl){
                    $("#googleIframe").attr("src",param.googleUrl);
                }
            },
            closeContainer:function(){
                this.$(".full_modal").remove();
                this.isShow=false;
            }
        });
        var searchResult=new IframeView({"el":$("body")});


        var SearchView = Backbone.View.extend({
            template: _.template($("#search-view").html()),
            events:{
                'click #googleSearchBtn':"googleSearch",
                'click #baiduSearchBtn':"baiduSearch",
                'keydown #keywordInpt':"keywordKeyDown",
                'keyup #keywordInpt':"keywordChanged"
            },
            timeoutHandler:0,
            initialize:function(){

            },
            render:function(){
                this.$el.html(this.template());
            },
            googleSearch:function(){
                var word=this.$("#keywordInpt").val();
                if(word.length<1){
                    return;
                }
//                var searchUrl="https://www.google.com/search?q="+word;
                var searchUrl="http://www.google.com/custom?q="+word+"&btnG=Search";

//                window.open(searchUrl,"_blank");
                searchResult.show({googleUrl:searchUrl});

            },
            baiduSearch:function(){
                var word=this.$("#keywordInpt").val();
                if(word.length<1){
                    return;
                }
                var searchUrl="http://www.baidu.com/s?word="+word;
//                window.open(searchUrl,"_blank");
                searchResult.show({baiduUrl:searchUrl});

            },
            keywordKeyDown:function(evt){
                if(evt.keyCode == 13){
                    this.baiduSearch();
                    this.googleSearch();
                }
            },
            keywordChanged:function(){
                var word=this.$("#keywordInpt").val();
//                console.log(word+"  --- "+ (new Date()).getMilliseconds());
                if(word.length == 0){
                    this.triggerKeywordChanged();
                }
                if(this.timeoutHandler!=0){
                    clearTimeout(this.timeoutHandler);
                }
                this.timeoutHandler=setTimeout(this.triggerKeywordChanged,600);
            },
            triggerKeywordChanged:function(){
                var word=this.$("#keywordInpt").val();
                Backbone.Events.trigger("keyword-changed",word);
                this.timeoutHandler=0;
            }
        });

        return SearchView;
    });
</script>
]]#