<script type="text/template" id="translate-view">
    <div class="row">
        <div class="col-md-12" id="translateEnCh">
            <div class="panel panel-default">
                <div class="panel-heading">英语 to 中文</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="englishInpt">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="chineseShow" class="form-control" rows="5">

                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
##        <div class="col-md-6" id="translateChEn">
##            <div class="panel panel-default">
##                <div class="panel-heading">中文 to 英语</div>
##                <div class="panel-body">
##                    <div class="row">
##                        <div class="col-md-12">
##                            <input type="text" class="form-control" id="chineseInpt">
##                        </div>
##                    </div>
##                    <br>
##                    <div class="row">
##                        <div class="col-md-12">
##                            <textarea id="englishShow" class="form-control" rows="5">
##
##                            </textarea>
##                        </div>
##                    </div>
##                </div>
##            </div>
##        </div>
    </div>
</script>
#[[
<script type="text/javascript">

    define('modules/TranslateModule',['backbone'], function(Backbone){
        var TranslateModule = Backbone.View.extend({

            template: _.template($("#translate-view").html()),
            events:{
                'keydown #englishInpt':"englishToChinese"
            },
            initialize:function(){
                $("body").append(this.$el);
                Backbone.Events.on("keyword-changed",this.keywordChanged,this);
            },
            render:function(){
                this.$el.html(this.template());
            },
            englishToChinese:function(evt){
                var srcText=this.$("#englishInpt").val();
                if(srcText.length<1){
                    return;
                }
                var that=this;
                if(evt.keyCode == 13){
                    $.ajax({
                        type: "get",
                        async: false,
                        url: "http://fanyi.youdao.com/openapi.do?keyfrom=pizahouse&key=1517817920&type=data&doctype=jsonp&callback=handleResult&version=1.1&q="+srcText,
                        dataType: "jsonp",
                        jsonp: "callback",
                        jsonpCallback:"handleResult",
                        success: function(json){
                            if(json.errorCode == 0){
                                that.$("#chineseShow").val(json.translation.toString());
                            }
                        },
                        error: function(){
                            alert('fail');
                        }
                    });
                }
            },
            keywordChanged:function(keyword){
                if(keyword.length<=0){
                    return;
                }
                var hintData={
                    "type":"translate",
                    "title":"翻译"
                        };
                Backbone.Events.trigger("add-search-result",hintData);
            }
        });

        return TranslateModule;
    });
</script>
]]#